{{ url_for('static', filename='admin-assets/plugins/datatables/datatables.min.css') }}


assets\/img\/doctors\/doctor-thumb-((0[0-9])|(1[0-9])).jpg

assets\/img\/patients\/patient(([0-9])|(1[0-9])).jpg

assets\/img\/specialities\/specialities-0([0-9]).png








	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon"
		href="{{ url_for('static', filename='admin-assets/img/favicon.png') }}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='admin-assets/css/bootstrap.min.css') }}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='admin-assets/css/font-awesome.min.css') }}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='admin-assets/css/style.css') }}">









	<!-- jQuery -->
	<script src="{{ url_for('static', filename='admin-assets/js/jquery-3.2.1.min.js') }}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{{ url_for('static', filename='admin-assets/js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin-assets/js/bootstrap.min.js') }}"></script>

	<!-- Custom JS -->
	<script src="{{ url_for('static', filename='admin-assets/js/script.js') }}"></script>



"""Admin"""


@app.route("/admin-register", methods=["GET", "POST"])
def admin_register():
    return render_template('admin-register.html')


@app.route("/admin-login", methods=["GET", "POST"])
def admin_login():

    if 'user' in session and session['user'] == parameters['admin_username']:
        return render_template('admin-dashboard.html')
        pass

    if request.method == "POST":

        username = request.form.get('username')
        password = request.form.get('password')

        if username == parameters['admin_username'] and password == parameters['admin_password']:
            # Set The Session Variable
            session['user'] = username
            return render_template('admin-dashboard.html')

    else:
        return render_template('admin-login.html')


@app.route("/admin-dashboard", methods=["GET", "POST"])
def admin_dashboard():
    return render_template('admin-dashboard.html')


@app.route("/admin-dashboard/appointment-list", methods=["GET", "POST"])
def admin_dashboard_appointments():
    return render_template('admin-appointment-list.html')


@app.route("/admin-dashboard/doctor-list", methods=["GET", "POST"])
def admin_dashboard_doctors():
    return render_template('admin-doctor-list.html')


@app.route("/admin-dashboard/patient-list", methods=["GET", "POST"])
def admin_dashboard_patients():
    return render_template('admin-patient-list.html')


@app.route("/admin-dashboard/reviews-list", methods=["GET", "POST"])
def admin_dashboard_reviews():
    return render_template('admin-reviews-list.html')


@app.route("/admin-dashboard/specialities-list", methods=["GET", "POST"])
def admin_dashboard_specialities():
    return render_template('admin-specialities-list.html')















