{{ url_for('static', filename='admin-assets/plugins/datatables/datatables.min.css') }}


assets\/img\/doctors\/doctor-thumb-((0[0-9])|(1[0-9])).jpg

assets\/img\/patients\/patient(([0-9])|(1[0-9])).jpg

assets\/img\/specialities\/specialities-0([0-9]).png








	<!-- Favicon -->
	<link rel="shortcut icon" type="image/x-icon"
		href="{{ url_for('static', filename='admin-assets/img/favicon.png') }}">

	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='admin-assets/css/bootstrap.min.css') }}">

	<!-- Fontawesome CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='admin-assets/css/font-awesome.min.css') }}">

	<!-- Main CSS -->
	<link rel="stylesheet" href="{{ url_for('static', filename='admin-assets/css/style.css') }}">









	<!-- jQuery -->
	<script src="{{ url_for('static', filename='admin-assets/js/jquery-3.2.1.min.js') }}"></script>

	<!-- Bootstrap Core JS -->
	<script src="{{ url_for('static', filename='admin-assets/js/popper.min.js') }}"></script>
	<script src="{{ url_for('static', filename='admin-assets/js/bootstrap.min.js') }}"></script>

	<!-- Custom JS -->
	<script src="{{ url_for('static', filename='admin-assets/js/script.js') }}"></script>























